@model RESToran.Models.ReservationPeriod

@{
    ViewData["Title"] = "Create";
    Restaurant restaurant = ViewBag.Restaurant;
    string date = ViewBag.Date;
    
}
<link href="~/css/bad_req.css" rel="stylesheet" type="text/css">

<p class="mt-40 f-s-20">@date is in the past, it must be in the future. Please pick another date.</p>


<div>
    <a asp-action="Create" asp-route-id="@restaurant.Id" class="btn btn-dark float-right mt-3">Try again</a>
</div>