@model RESToran.Models.ReservationPeriod

@{
    ViewData["Title"] = "Create";
    Restaurant restaurant = ViewBag.Restaurant;
    string startTime = ViewBag.StartTime;
    string endTime = ViewBag.EndStart;
}

<h3 class="text-center" style="color:blue">@restaurant.Name</h3>

<p class="mt-40">Invalid Time has been entered.Start time: @startTime end time: @endTime.
<br /> Start time must be before end time! Please try another period.</p>


<div>
    <a asp-action="Create" asp-route-id="@restaurant.Id" class="btn btn-primary float-right mt-5">Try again</a>
</div>