@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/Index.css" rel="stylesheet" type="text/css">

<div class="text-center">
    <div class="mb-80">
        <h1 class="display-4">Hungry? Just pick up one of the available restaurants and enjoy traditional Croatian food.</h1>
    </div>
    <img src="~/images/la-struk.png">
</div>
